{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'chatapp/login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <h1>Login</h1>
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Login"><a href="{% url 'register' %}">Register</a></p>
            </form>
        </div>
    </div>
{% endblock %}