{% extends "base.html" %}
{% load static %}

{% block title %}Create account{% endblock %}

{% block includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'chatapp/register.css' %}">
{% endblock %}

{% block content %}
    <div class="register-wrapper">

        <h1>Register</h1>
        <div class="register-form">
            <form method="post">
                {{ user_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Create my account"></p>
            </form>
        </div>
    </div>
{% endblock %}